$mo-nav-padding: 1.5rem;

// color
$white: #fff;
$black: #222;
$primary-color1: #d2d3c2;
$primary-color2: #b1c0a0;
$primary-color3: #79a74a;
$primary-color4: #51733f;
$secondary-color1: #f5f5eb;
$secondary-color2: #ecedde;

#portfolio02 {
  .hide {
    display: none;
  }

  .btn {
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    border-radius: 1.875rem;
    background-color: $primary-color2;
    color: $white;
    position: relative;
  }
}

/*
* responsive
*/

@media (max-width: 1599.98px) {
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  #portfolio02 {
  }
}

@media (max-width: 575.98px) {
}

@media (max-width: 399.98px) {
}
