#portfolio02 {
  height: 100vh;
  font-family: 'Satoshi';
  background-color: $primary-color1;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: $black;
    height: 3.125rem;
    position: fixed;
    width: 100%;
    top: 1rem;
    padding: 0 1rem;
    z-index: 99;

    > * {
      height: 100%;
      border-radius: 1.875rem;
      background-color: $secondary-color1;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .label {
      width: 14.875rem;
      padding: 0 1.75rem;
    }

    .nav-list-wrap {
      min-width: 23.375rem;
      padding: 0;
      background-color: transparent;
      margin-left: auto;
      gap: 0.25rem;

      .nav-list {
        width: 100%;
        height: 100%;

        a {
          display: block;
          width: 100%;
          height: 100%;
          background-color: $secondary-color1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    .btn-contact {
      font-size: 1.25rem;
      padding: 0 1.5rem;
      background-color: $primary-color2;
      color: $white;

      &::before {
        content: 'Contact';
        position: absolute;
        z-index: 1;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        background-color: $black;
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          height: 100%;
        }
      }
    }

    .btn-mo-nav-open {
      display: none;
      justify-content: end;
      align-items: center;
      width: 3.75rem;
      height: 100%;
      padding: 0;
      color: $black;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 1.75rem;
        border: 1px solid $black;
        position: absolute;
        border-radius: 1.875rem;
        transition: transform 0.15s ease-in-out;
      }

      &::before {
        top: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        bottom: 1.375rem;
        left: 50%;
        transform: translateX(-50%);
      }

      &.active {
        &::before {
          transform: translateX(-50%) rotate(45deg);
          top: 1.5rem;
        }

        &::after {
          transform: translateX(-50%) rotate(-45deg);
          bottom: 1.5rem;
        }
      }
    }
  }

  .mo-nav {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: -110%;
    border-radius: 0;
    transition: top 0.3s ease-in-out;
    padding: 8rem $mo-nav-padding 1.75rem;
    background-color: $primary-color1;

    &.open {
      top: 0;
      z-index: 1;
    }

    .nav-list-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    .nav-list {
      font-family: 'Austin';
      font-size: 2.625rem;
      font-weight: 300;
    }

    .btn-wrap {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      position: absolute;
      bottom: 1.75rem;
      width: calc(100% - $mo-nav-padding - $mo-nav-padding);
    }

    .btn-go {
      width: calc(50% - 0.25rem);
      // height: 3.875rem;
      justify-content: space-between;
      padding: 0 1.5rem;

      &:last-of-type {
        width: 100%;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 1.25rem;
        border-top: 1px solid $white;
        position: absolute;
        top: 1.375rem;
        right: 1.375rem;
        transform: rotate(-45deg);
      }

      &::after {
        content: '';
        display: inline-block;
        width: 0.875rem;
        height: 0.875rem;
        border-top: 1px solid $white;
        border-right: 1px solid $white;
        position: relative;
        top: -0.1875rem;
      }
    }
  }

  .section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 7.125rem;
  }

  .animaiton-items-wrap {
    position: relative;
    width: 100%;
    height: 100%;

    .name {
      font-family: 'Austin';
      font-size: 150px;
      font-weight: 300;
      line-height: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      .text {
        display: block;
      }
    }
  }

  .shape-ball {
    width: 36%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -12%);
    transform-origin: center center;
    z-index: 1;
  }

  .shape {
    width: 100%;
    height: auto;
    border-radius: 50% 50% 0 0;
    background-color: $secondary-color1;

    &.halfmoon {
      position: absolute;
      bottom: -60%;
      transform-origin: center;
      transition: transform 0.8s ease-in-out;
    }
  }
}

/*
* responsive
*/

@media (max-width: 1599.98px) {
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  #portfolio02 {
    .header {
      gap: 0;

      .label {
        width: fit-content;
        background-color: transparent;
        padding: 0;
      }

      .nav-list-wrap {
        display: none;
      }

      .btn-contact {
        margin-left: auto;
        padding: 0 1rem;
      }

      .btn-mo-nav-open {
        display: flex;
      }
    }

    .mo-nav {
      display: block;
    }

    .section {
      padding: 0 1rem;
    }
  }
}

@media (max-width: 575.98px) {
}

@media (max-width: 399.98px) {
}
