#portfolio01 {
  &.about {
    background-color: #f6f8fb;
    padding: 2rem 0;

    .main {
      max-width: 61.5rem;
      margin: 0 auto;
      padding: 5.125rem 0 3.125rem 6.5rem;
      background-color: $white;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 6.5rem;
    }

    .snb {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: sticky;
      right: 0;
      top: 7rem;
      height: fit-content;
    }

    .snb-list {
      width: 10rem;
      height: 2.75rem;
      border: 1px solid #eee;
      border-right: none;
      border-top-left-radius: 1.875rem;
      border-bottom-left-radius: 1.875rem;
      background-color: $white;
      display: flex;
      align-items: center;
      padding-left: 1.25rem;
      font-size: 0.875rem;
      font-weight: 500;
      cursor: pointer;

      &.active {
        background-color: #757575;
        color: $white;
      }

      &:hover {
        border-color: #757575;
      }
    }

    .section-wrap {
      flex: 1;
    }

    .section {
      gap: 0;
      margin-bottom: 0;
      border-top: 2px solid $black;
      padding: 1.25rem 0 5rem;

      &:first-of-type {
        border: none;
        padding: 0;
      }
    }

    .sec-item {
      background-color: transparent;
      border-radius: 0;
      padding: 0;

      .title {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
      }

      .sub-title {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 0.625rem;
      }

      .sub-desc {
        font-size: 0.875rem;
        color: #666;
        display: block;
        margin-bottom: 0.25rem;

        &:last-of-type {
          margin-bottom: 1rem;
        }
      }

      .desc {
        margin-bottom: 3.125rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .item {
      border-radius: 0;
      border-bottom: 1px solid #eee;
      padding: 1.5rem 0;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .desc {
      line-height: 1.4;
    }

    .basic-info {
      .desc {
        margin-bottom: 2.25rem;

        &:last-of-type {
          margin-bottom: 3.125rem;
        }
      }
    }

    .career {
      .sec-item {
        .sub-desc {
          &:last-of-type {
            margin-bottom: 2rem;
          }
        }

        .desc-wrap {
          margin-bottom: 3.125rem;

          &:last-child {
            margin-bottom: 0;

            .desc {
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }

        .desc {
          margin-bottom: 0.5rem;
          padding-left: 1rem;

          &:first-of-type {
            display: flex;
            padding-left: 0;
            font-weight: 600;

            &::before {
              content: '•';
              display: inline-block;
              margin-right: 0.5rem;
              font-size: 0.875rem;
            }
          }
        }
      }
    }

    .project {
      .sec-item {
        .desc {
          margin-bottom: 0.25rem;
          display: flex;

          &::before {
            content: '•';
            display: inline-block;
            margin-right: 0.5rem;
            font-size: 0.875rem;
          }
        }
      }
    }

    .introduce {
      .text-wrap {
        &:last-of-type {
          .desc {
            margin-bottom: 0;
          }
        }
      }

      .desc {
        margin-bottom: 0;

        &:first-of-type {
          margin-bottom: 3.125rem;
        }
      }
    }

    .name {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
    }

    .job {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .info-list {
      display: flex;
      gap: 2.5rem;
      margin-bottom: 6.5rem;

      dt {
        color: #666;
      }
    }

    .btn-go-link {
      min-height: 2.625rem;
      background-color: #f8f9fa;
      border: 1px solid #eee;
      border-radius: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1.25rem;
      margin-bottom: 0.625rem;
      gap: 1rem;
      font-size: 0.875rem;

      .url {
        text-decoration: underline;
        word-break: break-all;
      }

      &:hover {
        border-color: #757575;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .copyright {
      font-size: 0.75rem;
      color: #666;
      text-align: center;
      position: relative;
      left: 12%;
    }
  }
}

/*
* responsive
*/

@media (max-width: 1599.98px) {
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  #portfolio01 {
    &.about {
      padding: 1.5rem;

      .main {
        max-width: 100%;
        padding: 5.125rem 3rem 3rem 3rem;
      }

      .snb {
        display: none;
      }

      .copyright {
        left: initial;
      }
    }
  }
}

@media (max-width: 767.98px) {
  #portfolio01 {
    &.about {
      .main {
        padding: 4rem 2rem 3rem 2rem;
      }
    }
  }
}

@media (max-width: 575.98px) {
}

@media (max-width: 399.98px) {
}
