$lnb-width: 17.5rem;
$lnb-width-fold: 6.25rem;
$nav-height: 4.5rem;

$white: #fff;
$black: #222;
$brown: #2e2821;

$primary-color: #004f98;
// $primary-color: #ff8300;
// #fcf7f2

#portfolio01 {
  // component
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    border-radius: 0.625rem;
    background-color: #f6f8fb;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.75rem;
    flex: none;

    &:hover {
      background-color: #e6ecf5;
    }

    &.bg-black {
      background-color: $black;
      color: $white;

      &:hover {
        background-color: #000;
      }
    }
  }
}

/*
* responsive
*/

@media (max-width: 1599.98px) {
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 399.98px) {
}

// @supports (-webkit-touch-callout: none) {
//   html,
//   body {
//     height: -webkit-fill-available;
//   }

//   body {
//     min-height: -webkit-fill-available;
//   }
// }
