#portfolio01 {
  &.works {
    .sec-item {
      background-color: transparent;
      padding: 0;
    }

    &.pop-open {
      overflow: hidden;
    }
  }

  .work-list {
    .sec-item {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.25rem;
    }

    .item {
      padding: 1rem;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 2px 5px 0px rgba(8, 12, 56, 0.15);
      cursor: pointer;

      &:hover {
        box-shadow: 0px 5px 15px 0px rgba(8, 12, 56, 0.15);
        transform: scale(1.01);
      }

      .img-wrap {
        border-radius: 0.625rem;
        overflow: hidden;
        margin-bottom: 1.5rem;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 100%;
          padding-top: 76%;
          background-color: #eee;
        }

        &::after {
          content: '\e90f';
          font-family: 'portfolio_iconset';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #999;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }

      .text-wrap {
        font-size: 0.875rem;
        font-weight: 400;
      }

      .project-name {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1.125rem;
      }

      .project-desc {
        color: #999;
        line-height: 1.4;
        margin-bottom: 1.125rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .project-period {
        font-size: 0.75rem;
        color: $primary-color;
      }
    }
  }

  .pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow-x: hidden;
    overflow-y: auto;

    &.open {
      display: block;
    }

    .pop-cont {
      width: 62.5rem;
      background-color: #fff;
      border-radius: 1rem;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-36%, -50%);
      z-index: 99;
    }

    .txt-wrap {
      padding-bottom: 6.25rem;

      .title {
        font-size: 3rem;
        font-weight: 700;
        color: #111;
        line-height: 1.3;
      }

      .sub-title {
        font-size: 1.25rem;
        font-weight: 700;
        color: #2c54d6;
        margin-top: 2rem;
      }

      .desc {
        font-size: 1.125rem;
        font-weight: 500;
        color: #555;
        line-height: 1.6;
        margin-top: 1rem;
        max-height: 10.9375rem;
        overflow-y: auto;
      }

      .btn-wrap {
        margin-top: 3.375rem;

        a {
          display: inline-flex;
          justify-content: space-between;
          padding: 0 1.5rem;
          font-size: 1.25rem;
          font-weight: 600;
          color: #fff;
          background-color: #111;
          border-radius: 1.6875rem;
          width: 14.875rem;
          height: 3.375rem;
          line-height: 3.375rem;
          transition: 0.2s;

          &::after {
            content: '\e91f';
            font-family: 'hri_iconset';
            display: inline-block;
          }

          &:first-child {
            margin-right: 0.625rem;
          }

          &:hover {
            background-color: #c6d800;
            color: #111;

            &::after {
              animation: arrow 0.8s infinite forwards;
            }
          }
        }
      }
    }

    .img-wrap {
      width: 35.375rem;
      height: 43.75rem;
      flex: none;
      border-radius: 1rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn-close {
      width: 3rem;
      height: 3rem;
      background-color: #111;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: -6%;

      &::after {
        content: '\e90c';
        font-family: 'portfolio_iconset';
        font-size: 1rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

/*
* responsive
*/

@media (max-width: 1599.98px) {
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  #portfolio01 {
    .work-list {
      .sec-item {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  #portfolio01 {
    .work-list {
      .sec-item {
        gap: 1rem;
      }

      .item {
        padding: 0.75rem;
      }
    }
  }
}

@media (max-width: 399.98px) {
  #portfolio01 {
    .work-list {
      .sec-item {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
