#portfolio01 {
  &.works {
    .sec-item {
      background-color: transparent;
      padding: 0;
    }

    &.pop-open {
      overflow: hidden;
    }

    .lnb {
      .lnb-mark {
        top: 263.188px;
        transition: top 0.4s ease-in-out;
      }
    }
  }

  .work-list {
    .sec-item {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.25rem;
    }

    .item {
      padding: 1rem;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 2px 5px 0px rgba(8, 12, 56, 0.15);
      cursor: pointer;

      &:hover {
        box-shadow: 0px 5px 15px 0px rgba(8, 12, 56, 0.15);
        transform: scale(1.01);
      }

      .img-wrap {
        border-radius: 0.625rem;
        overflow: hidden;
        margin-bottom: 1.5rem;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 100%;
          padding-top: 76%;
          background-color: #eee;
        }

        &::after {
          content: '\e90f';
          font-family: 'portfolio_iconset';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #999;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          object-position: top;
        }
      }

      .text-wrap {
        font-size: 0.875rem;
        font-weight: 400;
      }

      .project-name {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1.125rem;
      }

      .project-desc {
        color: #999;
        line-height: 1.4;
        margin-bottom: 1.125rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .project-period {
        font-size: 0.75rem;
        color: $primary-color;
      }
    }
  }

  .pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: auto;

    &.open {
      display: block;
    }

    .pop-cont-wrap {
      width: fit-content;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-36%, -50%);
      z-index: 99;
    }

    .pop-cont {
      overflow: hidden;
      width: 62.5rem;
      height: 43.75rem;
      background-color: $white;
      border-radius: 1rem;
      display: flex;
    }

    .text-wrap {
      display: flex;
      flex-direction: column;
      padding: 14rem 3rem 5rem;
      width: calc(100% - 30rem);

      .title {
        font-size: 2.5rem;
        font-weight: 700;
        color: $black;
        margin-bottom: 2rem;
        word-break: auto-phrase;
      }

      .part,
      .contribution {
        font-size: 1.125rem;
        font-weight: 700;
        color: #3a6ea5;
        margin-bottom: 1rem;
      }

      .part {
        margin-bottom: 0.25rem;
      }

      .desc,
      .period {
        font-size: 1rem;
        font-weight: 500;
        color: #999;
        line-height: 1.4;
        max-height: 10.9375rem;
        overflow-y: auto;
        margin-bottom: 1rem;
        margin-right: 3rem;
      }

      .period {
        font-weight: 500;
      }

      .btn-wrap {
        margin-top: auto;
        display: flex;
        gap: 0.625rem;

        a {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1.5rem;
          font-size: 1.125rem;
          font-weight: 600;
          color: $white;
          background-color: $black;
          border-radius: 1.875rem;
          width: 13.75rem;
          height: 3.375rem;
          transition: 0.2s;

          &::after {
            content: '\e906';
            font-family: 'portfolio_iconset';
            display: inline-block;
            font-size: 0.875rem;
            font-weight: 400;
          }

          &:hover {
            background-color: #3a6ea5;

            &::after {
              animation: arrow 0.8s infinite forwards;
            }
          }
        }
      }
    }

    .img-wrap {
      width: 30rem;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      // background-color: #eee;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);

      img {
        object-position: top;
      }
    }

    .btn-close {
      width: 3rem;
      height: 3rem;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: -5.5%;
      color: transparent;

      &::after {
        content: '\e90c';
        font-family: 'portfolio_iconset';
        font-size: 1rem;
        color: $black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(35%);
  }

  100% {
    transform: translateX(0%);
  }
}

/*
* responsive
*/

@media (max-width: 1599.98px) {
  #portfolio01 {
    .pop {
      .pop-cont-wrap {
        transform: translate(-47%, -50%);
      }
    }
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  #portfolio01 {
    .pop {
      .pop-cont-wrap {
        transform: translate(-45%, -50%);
        padding: 5rem 1rem 1rem;
        width: calc(100% - $lnb-width-fold);
        height: 100%;
      }

      .pop-cont {
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
      }

      .text-wrap {
        width: 100%;
        padding: 3rem;
        flex: 1;
      }

      .img-wrap {
        width: 100%;
        height: 50%;
        border-radius: 0;
      }

      .btn-close {
        width: 2.5rem;
        height: 2.5rem;
        top: 1.75rem;
        right: 1rem;
      }
    }
  }
}

@media (max-width: 991.98px) {
  #portfolio01 {
    .work-list {
      .sec-item {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .pop {
      .pop-cont-wrap {
        transform: translate(-50%, -50%);
        padding: 5rem 1rem 1rem;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 767.98px) {
  #portfolio01 {
    .pop {
      .pop-cont {
        flex-direction: column-reverse;
        width: 100%;
      }

      .text-wrap {
        width: 100%;
        padding: 3rem 2rem 2rem;

        .title {
          font-size: 2.25rem;
        }

        .contribution {
          margin-bottom: 1.5rem;
        }

        .desc,
        .period {
          margin-right: 0;
          max-height: 9.2rem;
        }

        .btn-wrap {
          flex-direction: column;

          a {
            width: 100%;
            height: 2.5rem;
            font-size: 1rem;
            justify-content: center;
            gap: 0.5rem;
          }
        }
      }

      .img-wrap {
        width: 100%;
        border-radius: 0;
        display: none;
      }
    }
  }
}

@media (max-width: 575.98px) {
  #portfolio01 {
    .work-list {
      .sec-item {
        gap: 1rem;
      }

      .item {
        padding: 0.75rem;
      }
    }
  }
}

@media (max-width: 399.98px) {
  #portfolio01 {
    .work-list {
      .sec-item {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
