<!DOCTYPE html>
<html lang="ko" data-color-theme="cylearn-default">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Layout</title>
</head>
<body>
  <div id="layout">
    <!-- header :: s -->
    <header id="header">
      <button type="button" class="btn-menubar"><i class="icon-menubar"></i></button>
      <h2>header</h2>
      <h4>login</h4>
    </header>
    <!-- header :: e -->

    <!-- nav :: s -->
    <nav id="nav">
      <div class="nav-header">
        <h2>nav</h2>
        <button type="button" class="btn-menubar"><i class="icon-menubar"></i></button>
        <button type="button" class="btn-close"><i class="icon-close"></i></button>
      </div>
    </nav>
    <!-- nav :: e -->

    <!-- main :: s -->
    <main id="main">
      <div class="main-wrap">
        <section id="section1">
          <h2>ApexCharts</h2>
          <div class="chart-wrap">
            <div id="gaugeChart"></div>
          </div>
          <div class="chart-wrap">
            <div id="barChart"></div>
          </div>
          <div class="chart-wrap">
            <div id="barChart2"></div>
          </div>
        </section>
      </div>
    </main>
    <!-- main :: e -->

    <!-- footer :: s -->
    <footer id="footer">
      <h2>footer</h2>
    </footer>
    <!-- footer :: e -->
  </div>

  <!-- import script -->
  <script src="../../libs/apexcharts/apexcharts.js"></script>
  <script src="../../js/layout.js"></script>
  <script src="../../js/apexCharts.js"></script>
  
</body>
</html>