@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// font-family: 'Montserrat', sans-serif;

$headerHeight: 5.25rem;
$m-headerHeight: 3.4375rem;

#main04 {
  // max-width: 75rem;
  // height: 100vh;
  // margin: 0 auto;

  .containers {
    width: 75rem;
    height: 100%;
    margin: 0 auto;
  }

  // header
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $headerHeight;
    background-color: #fff;
    border-bottom: 1px solid var(--gray-color-100);
    z-index: 999;

    .containers {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .img-logo {
      display: block;
      width: 13.75rem;
      height: 3.0625rem;
    }

    // nav
    .nav-list-wrap {
      display: flex;
      gap: 5rem;

      .nav-list {
        font-size: 1.125rem;
        font-weight: 500;
        cursor: pointer;
      }

      .sub-nav-list {
        display: none;

        .sub-item {
          padding: 1rem;
        }
      }

      &:hover {
        .sub-nav-list {
          display: block;
          position: absolute;
          top: 6rem;
          background-color: #eee;
          height: 12rem;
        }
      }
    }

    .btn-wrap {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;

      button {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #009fe3;
        color: #fff;
        font-size: .875rem;
        font-weight: 600;
        width: 5.3125rem;
        height: 100%;

        &:last-child {
          background-color: #95c11e;
        }

        i {
          font-size: 2rem;
          margin-bottom: .375rem;
        }
      }
    }
  }

  // main
  .main {
    padding-top: $headerHeight;
    padding-bottom: 2.5rem;

    .cont-title {
      font-size: 2.25rem;
      font-weight: 800;
      line-height: 1.4;
    }
    
    // section1
    .section1 {
      height: 36.875rem;
      position: relative;

      .swiper {
        height: 100%;

        &.main-slide {
          .swiper-slide {
            background: url('../images/clonecoding/main04/img_main_slide1.png') center/cover no-repeat;
            
            .txt-wrap {
              width: 75rem;
              height: 100%;
              margin: 0 auto;
              color: #fff;

              span {
                font-size: 1.875rem;
                position: relative;
                top: 40%;
              }
              
              h3 {
                font-size: 3.5rem;
                font-weight: 900;
                margin-top: .5rem;
                position: relative;
                top: 40%;
              }
            }
          }
        }
      }

      .swiper-button-wrap {
        width: 75rem;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 1;

        .btn-view-more-wrap {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 1;
          display: flex;
          
          a {
            display: block;
            font-size: 1.4375rem;
            font-weight: 600;
            color: #111;
            height: 7.5rem;
            background-color: #fff;
            padding: 2.5rem 6rem 1.5rem 1.875rem;
            cursor: pointer;
            position: relative;

            &::before {
              content: "";
              display: inline-block;
              width: 5.1875rem;
              height: 3.9375rem;
              background: url('../images/clonecoding/main04/img_main_btn1.png') center/cover no-repeat;
              position: absolute;
              right: 0;
              bottom: 0;
            }

            &::after {
              content: "";
              display: block;
              width: 1rem;
              height: .6875rem;
              background: url('../images/clonecoding/main04/icon_arrow_right.png') center/cover no-repeat;
              margin-top: 1.5rem;
              position: relative;
              right: 0;
              transition: right .15s ease-in-out;
            }

            &:nth-child(2) {
              color: #fff;
              background-color: #009fe3;

              &::before {
                width: 3.3125rem;
                height: 4.6875rem;
                background-image: url('../images/clonecoding/main04/img_main_btn2.png');
              }

              &::after {
                background-image: url('../images/clonecoding/main04/icon_arrow_right_white.png');
              }
            }

            &:hover {
              &::after {
                right: -0.25rem;
              }
            }
          }
        }
      }
    }

    // section2
    .section2 {
      position: relative;
      padding: 9.375rem 0 25rem;
      background: url('../images/clonecoding/main04/bg_section2.png') center bottom no-repeat;
      background-size: 100%;
      
      .containers {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 9;

        &::after {
          content: "";
          display: inline-block;
          width: 18.125rem;
          height: 21.375rem;
          background: url('../images/clonecoding/main04/img_section2-1.png') center/cover no-repeat;
          position: absolute;
          bottom: -10rem;
          left: -8rem;
        }
      }

      .txt-wrap {
        width: 21.875rem;

        .cont-desc {
          font-size: 1.125rem;
          font-weight: 500;
          color: #888888;
          line-height: 1.8;
          word-break: keep-all;
          margin-top: 1.25rem;
        }

        .btn-go {
          position: relative;
          font-size: 1.25rem;
          font-weight: 700;
          color: #111111;
          border: 7px solid #f8f8f8;
          width: 100%;
          height: 6.3125rem;
          padding: 0 1.875rem;
          text-align: start;
          margin-top: 3.75rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            z-index: 1;
          }

          &::before {
            content: "";
            display: block;
            background-color: #95c11e;
            position: absolute;
            left: -0.4375rem;
            top: -7px;
            width: 0%;
            height: calc(100% + 14px);
            transition: width 0.3s ease-in-out;
          }

          &::after {
            content: "";
            display: inline-block;
            width: .8125rem;
            height: .5625rem;
            background: url('../images/clonecoding/main04/icon_arrow_right.png') center/cover no-repeat;
            position: relative;
            right: 0;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            span {
              color: #fff;
            }

            &::before {
              width: calc(100% + 14px);
            }

            &::after {
              right: -0.25rem;
              background-image: url('../images/clonecoding/main04/icon_arrow_right_white.png');
            }
          }
        }
      }

      .swiper {
        overflow: visible;
      }

      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
      }

      .swiper-slide {
        width: 20.625rem;

        &:nth-child(1),
        &:nth-child(3) {
          top: 6.5rem;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }

      .swiper-pagination {
        display: none;
      }

      .cont-item {
        position: relative;

        .like {
          font-size: 1rem;
          font-weight: 600;
          color: #111;
          position: absolute;
          right: 0;
          top: -4.5rem;
          background-color: #f8f8f8;
          border-radius: .625rem;
          border-bottom-right-radius: 0;
          padding: 1rem 1.25rem;
          display: flex;
          align-items: center;

          &::before {
            content: "";
            display: inline-block;
            width: 1.3125rem;
            height: 1.0625rem;
            background: url('../images/clonecoding/main04/icon_heart.png') center/cover no-repeat;
            margin-right: .25rem;
          }

          &::after {
            content: "";
            display: inline-block;
            width: .5625rem;
            height: .9375rem;
            background: url('../images/clonecoding/main04/icon_like_tail.png') center/cover no-repeat;
            position: absolute;
            bottom: -0.875rem;
            right: 0;
          }
        }

        .item-header {
          font-size: 1.0625rem;
          font-weight: 700;
          color: #fff;
          background-color: #aaaaaa;
          padding: 1.25rem;
          width: 100%;
          text-align: center;
          border-top-left-radius: 1.875rem;
          margin-top: 4.5rem;
        }

        .item-body {
          padding: 2.5rem 1.875rem 1.875rem;
          border: 2px solid #f8f8f8;
          border-bottom-left-radius: 1.875rem;
          border-bottom-right-radius: 1.875rem;
          background-color: #fff;

          .title {
            font-size: 1.375rem;
            font-weight: 800;
            height: 1.6875rem;
            line-height: 1.3;
            display: inline;
          }

          .desc {
            font-size: .9375rem;
            font-weight: 600;
            color: #aaaaaa;
            line-height: 1.5;
            margin-top: 1.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .writer {
            font-size: 1.125rem;
            font-weight: 400;
            color: #888;
            border-top: 1px solid #f5f5f5;
            margin-top: 1.875rem;
            padding-top: 1.5625rem;
            display: flex;
            align-items: center;

            i {
              padding: .875rem;
              border-radius: 50%;
              background-color: #d7d7d7;
              color: #fff;
              font-size: 1.5rem;
              margin-right: .9375rem;
            }
          }
        }

        &:hover {
          .item-header {
            background-color: #95c11e;
          }

          .item-body {
            .title {
              border-bottom: 2px solid #ffea00;
            }
          }
        }
      }
    }

    // section4
    .section4 {
      padding-top: 9.375rem;

      .swiper {
        margin-top: 4.375rem;
        overflow: visible;
      }

      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
      }

      .swiper-slide {
        position: relative;
        top: 0;

        &:hover {
          top: -1rem;
          transition: all .25s ease-in-out;
        }
      }

      .swiper-pagination {
        display: none;
      }

      .cont-item {
        display: inline-block;
        background-color: #fff;
        border: 2px solid #f8f8f8;
        border-radius: 1.875rem;
        color: #111;
        padding: 3.125rem 1.875rem;
        

        &:hover {
          background-color: #009fe3;
          color: #fff;

          &::after {
            content: "";
            display: inline-block;
            width: 2.9375rem;
            height: 2.8125rem;
            background: url('../images/clonecoding/main04/icon_star.svg') center/cover no-repeat;
            position: absolute;
            right: 1.125rem;
            bottom: -0.5rem;
          }

          .desc {
            color: #84daff;
          }
        }

        .title {
          font-size: 1.1875rem;
          font-weight: 800;
          line-height: 1.3;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .desc {
          margin-top: 1.25rem;
          font-size: .8125rem;
          font-weight: 600;
          color: #aaaaaa;
          line-height: 1.8;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }

        .date {
          font-size: .875rem;
          font-weight: 700;
          margin-top: 2.1875rem;
        }
      }
    }

    // section5
    .section5 {
      margin-top: 5.625rem;

      .cont-item-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;
      }

      .cont-item {
        display: block;
        border-radius: 1.875rem;
        overflow: hidden;
        padding: 2.5rem;
        background: url('../images/clonecoding/main04/img_link1.png') center/cover no-repeat;

        &:nth-child(2) {
          background-image: url('../images/clonecoding/main04/img_link2.png');

          .txt-en,
          .btn-more {
            color: #b5c3ca;
          }
        }

        &:nth-child(3) {
          background-image: url('../images/clonecoding/main04/img_link3.png');

          .txt-en,
          .btn-more {
            color: #c9b7b7;
          }
        }

        &:last-child {
          background-image: url('../images/clonecoding/main04/img_link4.png');

          .txt-en,
          .btn-more {
            color: #baafc7;
          }
        }

        .txt-en,
        .btn-more {
          font-family: 'Montserrat', sans-serif;
          font-size: .75rem;
          font-weight: 700;
          color: #c6cbb5;
          text-transform: uppercase;
        }

        h4 {
          font-size: 1.75rem;
          font-weight: 800;
          color: #111;
          margin-top: .75rem;
        }

        .btn-more {
          margin-top: 1.5rem;
          
          &::after {
            content: "";
            display: inline-block;
            width: .8125rem;
            height: .5625rem;
            background: url('../images/clonecoding/main04/icon_arrow_right.png') center/cover no-repeat;
            margin-left: .75rem;
            transition: margin-left .2s ease-in-out;
          }
        }

        &:hover {
          .btn-more {
            &::after {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  // footer
  .footer {
    .footer-banner-wrap {
      background-color: #333333;

      .swiper {
        padding: .9375rem 0;

        &.footer-banner-slide {
          .swiper-wrapper {
            .swiper-slide {
              .item-logo {
                display: inline-block;
                width: 14rem;
                height: 4.375rem;
                border-radius: .375rem;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    .footer-info-wrap {
      padding-bottom: 3.75rem;

      .containers {
        display: flex;
        justify-content: space-between;
      }

      .info-wrap {
        padding-top: 3.75rem;
        padding-left: 3.625rem;
        border-left: 1px solid #f3f3f3;

        .img-logo {
          display: inline-block;
          width: 13.75rem;
          height: 3.125rem;
        }
  
        .contact {
          margin-top: 1.875rem;
  
          .txt {
            font-size: .8125rem;
            font-weight: 800;
            color: #222;
          }
  
          .number {
            margin-top: .625rem;
            font-size: 1.875rem;
            font-weight: 700;
            color: #8bb618;
            font-family: 'Montserrat', sans-serif;
          }
  
          .open-close {
            margin-top: .9375rem;
  
            li {
              margin-top: .25rem;
  
              span {
                font-size: .75rem;
                font-weight: 600;
                color: #888;
                display: inline-block;
  
                &:first-of-type {
                  width: 4.375rem;
                }
              }
            }
          }
        }

        &:first-child {
          width: 17.5rem;
          padding-left: 0;
          border: none;
        }

        &:nth-child(2) {
          width: 36.25rem;

          ul {
            li {
              font-size: .8125rem;
              font-weight: 800;
              color: #222;
            }

            &:first-child {
              li {
                margin-top: 1rem;

                span {
                  display: inline-block;
                  
                  &:first-of-type {
                    width: 6.25rem;
                  }

                  &:nth-of-type(2) {
                    font-weight: 500;
                    color: #808080;
                  }
                }
              }
            }

            &.center-info {
              margin-top: 3.125rem;
              display: flex;

              li {
                &::after {
                  content: "";
                  display: inline-block;
                  border-right: 1px solid #d9d9d9;
                  height: .75rem;
                  margin: 0 1.25rem;
                  position: relative;
                  top: .0625rem;
                }

                &:last-child {
                  &::after {
                    content: none;
                  }
                }
              }
            }
          }
        }

        &:last-child {
          .sns {
            .sns-logo {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              margin-right: .625rem;
            }
          }

          .family-site {
            margin-top: 4.0625rem;

            h5 {
              font-size: 1.125rem;
              font-weight: 800;
              color: #222;
              line-height: 1.4;
            }

            .dropdown {
              width: 18.75rem;
              height: 3.125rem;
              margin-top: .625rem;


              .btn {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1.5rem;
                background-color: #f4f4f4;
                font-size: .875rem;
                font-weight: 600;
                color: #979797;
                border: none;
                border-radius: 0;
                position: relative;
                z-index: 1;
              }

              .dropdown-menu {
                width: 100%;
                height: 0;
                border-radius: 0;
                padding: 0;
                transition: all .3s ease-in-out;
                z-index: 0;

                li {
                  height: 3.125rem;
                  line-height: 3.125rem;
                  border-bottom: 1px solid #ddd;
                  padding: 0 1.5rem;

                  &:last-child {
                    border-bottom: none;
                  }

                  a {
                    font-size: .875rem;
                    font-weight: 600;
                    color: #222;
                    padding: 0;
                  }
                }

                &.show {
                  height: 6.375rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// breakpoint
@media (max-width: 1599.98px) {
  #main04 {
    .header {
      .containers {
        justify-content: start;
      }

      .img-logo {
        margin-right: 5rem;
      }
    }
  }
}

@media (max-width: 1249.98px) {
  #main04 {
    .containers {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

@media (max-width: 1199.98px) {
  #main04 {
    .header {
      .nav {
        display: none;
      }
    }

    .main {
      // section1
      .section1 {
        height: 28.125rem;

        .swiper {
          &.main-slide {
            .swiper-slide {
              .txt-wrap {
                width: 100%;
                padding: 0 2rem;

                span {
                  font-size: 1.625rem;
                  top: 35%;
                }

                h3 {
                  top: 35%;
                }
              }
            }
          }
        }

        .swiper-button-wrap {
          width: 100%;

          .btn-view-more-wrap {
            display: none;
          }
        }
      }

      // section2
      .section2 {
        .containers {
          flex-direction: column;

          &::after {
            width: 14.125rem;
            height: 16.7rem;
            bottom: -24rem;
            left: 5rem;
          }
        }

        .cont-item-wrap {
          margin-left: auto;
        }
      }

      // section4
      .section4 {
        .swiper-wrapper {
          grid-template-columns: repeat(3, 1fr);

          .swiper-slide {
            &:last-child {
              display: none;
            }
          }
        }
      }

      // section5
      .section5 {
        .cont-item {
          padding: 2.1875rem;

          h4 {
            font-size: 1.5rem;
          }
        }
      }
    }

    .footer {
      .footer-info-wrap {
        .info-wrap {
          border-left: none;

          &:last-child {
            padding-left: 0;
            flex: none;

            .family-site {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  #main04 {
    .containers {
      width: 100%;
      max-width: 100%;
      padding: 0 2rem;
    }
  }
}

@media (max-width: 789.98px) {
  #main04 {
    .main {
      // section2
      .section2 {
        .cont-item-wrap {
          width: 100%;
          margin-top: 2.5rem;
        }
        
        .swiper {
          overflow: hidden;
        }

        .swiper-wrapper {
          gap: 2rem;
        }
      }
    }
    
    .footer {
      .footer-banner-wrap {
        .swiper {
          &.footer-banner-slide {
            .swiper-wrapper {
              .swiper-slide {
                .item-logo {
                  padding-top: 31.25%;
                  height: auto;

                  img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 0.375rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  #main04 {
    .containers {
      max-width: 100%;
      padding: 0 1.5rem;
    }

    .header {
      height: $m-headerHeight;

      .img-logo {
        width: 10rem;
        height: 2.25rem;
      }

      .btn-wrap {
        button {
          width: 3.4375rem;
          height: 3.4375rem;

          i {
            font-size: 1.8rem;
            margin-bottom: 0;
          }

          span {
            display: none;
          }
        }
      }
    }

    .main {
      padding-top: $m-headerHeight;

      .cont-title {
        font-size: 1.4375rem;
      }

      // section1
      .section1 {
        .swiper {
          &.main-slide {
            .swiper-slide {
              background-image: url('../images/clonecoding/main04/img_main_slide1_mo.png');

              .txt-wrap {
                text-align: center;
                padding: 0 1rem;

                span {
                  font-size: 1rem;
                  top: 16%;
                }

                h3 {
                  font-size: 2.2rem;
                  top: 16%;
                }
              }
            }
          }
        }
      }

      // section2
      .section2 {
        padding: 3.75rem 0 18rem;

        .containers {
          &::after {
            width: 9.375rem;
            height: 11.0625rem;
            bottom: -17rem;
            left: 3rem;
          }
        }

        .swiper-wrapper {
          display: flex;
          gap: 0;
        }

        .swiper-slide {
          &:nth-child(1),
          &:nth-child(3) {
            top: 0;
          }
        }

        .cont-item {
          .item-header {
            background-color: #95c11e;
          }

          .item-body {
            padding: 1.25rem 1.25rem 1.5625rem;

            .title {
              font-size: 1.25rem;
              border-bottom: 2px solid #ffea00;
              width: fit-content;
            }

            .desc {
              margin-top: 1rem;
            }

            .writer {
              margin-top: 1.5rem;
              padding-top: 1.5rem;
              font-size: .875rem;

              i {
                padding: .625rem;
                font-size: 1.25rem;
              }
            }
          }
        }

        .txt-wrap {
          width: 100%;

          .cont-desc {
            font-size: .9375rem;
            margin-top: .625rem;
          }

          .btn-go {
            font-size: 1.0625rem;
            height: 4.875rem;
            margin-top: 1.25rem;
          }
        }

        .swiper-button-wrap {
          display: flex;
          align-items: center;
          position: relative;
          max-width: 8rem;
          margin: 1.5rem auto 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
          display: inline-block;
          top: initial;
          margin-top: initial;
          width: auto;
          height: auto;
          color: #aaa;

          &::after {
            font-size: 1rem;
          }
        }

        .swiper-pagination {
          display: block;
        }

        .swiper-pagination-fraction {
          position: relative;
          top: initial;
          bottom: initial;
          color: #aaa;

          >span {
            font-weight: 700;
            color: #111;
            margin: 0 .5rem;
          }
        }
      }

      // section4
      .section4 {
        padding-top: 4.5rem;

        .swiper {
          margin-top: 1.875rem;
        }

        .swiper-wrapper {
          display: flex;
          gap: 0;

          .swiper-slide {
            &:last-child {
              display: inline-block;
            }
          }
        }

        .swiper-slide {
          &:hover {
            top: 0;
          }
        }

        .swiper-pagination {
          display: block;
        }

        .cont-item {
          background-color: #009fe3;
          color: #fff;

          &::after {
            content: "";
            display: inline-block;
            width: 2.9375rem;
            height: 2.8125rem;
            background: url('../images/clonecoding/main04/icon_star.svg') center/cover no-repeat;
            position: absolute;
            right: 1.125rem;
            bottom: -0.5rem;
          }

          .desc {
            color: #84daff;
            margin-top: 1rem;
            -webkit-line-clamp: 2;
          }

          .date {
            margin-top: 1.875rem;
          }
        }

        .swiper-pagination {
          position: relative;
          bottom: initial;
          top: initial;
          margin-top: 1.5rem;
        }

        .swiper-pagination-bullet {
          width: .625rem;
          height: .625rem;
          background-color: #353535;
        }
      }

      // section5
      .section5 {
        .cont-item-wrap {
          display: block;
        }

        .cont-item {
          padding: 1.5625rem 1.25rem;
          margin-top: .625rem;

          &:first-child {
            margin-top: 0;
          }
          
          h4 {
            font-size: 1.125rem;
          }
        }
      }
    }

    .footer {
      .footer-info-wrap {
        .containers {
          flex-direction: column;
        }

        .info-wrap {
          padding-top: 1.875rem;

          .img-logo {
            width: 11.25rem;
            height: 2.5rem;
          }

          .contact {
            display: none;
          }

          &:nth-child(2) {
            padding-top: .75rem;
            padding-left: 0;

            ul {
              li {
                font-size: .75rem;
              }

              &:first-child {
                li {
                  margin-top: .625rem;

                  span {
                    &:first-child {
                      width: 4.0625rem;
                    }
                  }
                }
              }

              &.center-info {
                margin-top: 1.75rem;

                li {
                  &::after {
                    margin: 0 .75rem;
                  }
                }
              }
            }
          }

          &:last-child {
            position: absolute;
            right: 1.5rem;

            .sns {
              .sns-logo {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}