#weather {
  // padding: 2rem;

  // .btn-weather {
  //   font-size: 1rem;
  //   font-weight: 700;
  //   color: #fff;
  //   height: 2.25rem;
  //   padding: 0 1rem;
  //   border-radius: 1rem;
  //   background-color: gray;
  // }

  // .current-weather {
  //   margin-top: 1.5rem;

  //   > * {
  //     margin-top: .5rem;
  //   }
  // }

  .current-weather {
    max-width: 26rem;
    background-color: #eee;
    min-height: 100vh;
    padding: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    .searchbox {
      width: 100%;
      height: 2.6875rem;
      background-color: #f8f8f8;
      position: relative;
      border-radius: .5rem;
      overflow: hidden;
      
      .icon-search {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        color: #444;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 2.5rem;

        &::placeholder {
          font-size: .875rem;
          font-weight: 700;
          color: #777;
        }
      }
    }

    .img-weather {
      margin-top: 1.25rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .weather-info {
      margin-top: 2.5rem;

      > span {
        display: block;
      }

      .temperature {
        font-size: 4rem;
        display: flex;

        .data {
          font-size: 6.25rem;
        }
      }
    }
  }
}