@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
#toDoList {
  font-family: "Roboto", sans-serif;
  background-color: #faf9f8;
  width: 100%;
  height: 100vh;
  cursor: default;
}
#toDoList .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 6.25rem;
  padding-left: 21.6875rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#toDoList .header .header-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}
#toDoList .header .header-wrap .btn-menubar {
  display: none;
}
#toDoList .header .header-wrap .title {
  font-size: 1.5rem;
  color: #2564cf;
}
#toDoList .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 21.6875rem;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#toDoList .nav .nav-header button i::before {
  font-size: 1.5rem;
}
#toDoList .nav .nav-list {
  margin-top: 2.8125rem;
}
#toDoList .nav .nav-list .list-item {
  display: block;
  margin-top: 1.25rem;
  font-size: 1rem;
}
#toDoList .main {
  padding-top: 6.25rem;
  padding-left: 21.6875rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#toDoList .main i {
  color: #2564cf;
}
#toDoList .main .main-wrap {
  padding: 2rem;
}
#toDoList .main .main-wrap .input-task .inputbox {
  position: relative;
}
#toDoList .main .main-wrap .input-task .inputbox input {
  border: none;
  width: 100%;
  height: 3.5625rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
#toDoList .main .main-wrap .input-task .inputbox .btn-add {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#toDoList .main .main-wrap .input-task .btn-tab {
  height: 3.5625rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
#toDoList .main .main-wrap .input-task .btn-tab button {
  position: relative;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
#toDoList .main .main-wrap .input-task .btn-tab button.active {
  color: #2564cf;
  font-weight: 500;
}
#toDoList .main .main-wrap .input-task .btn-tab button.active::after {
  content: "";
  display: block;
  border-bottom: 3px solid #2564cf;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#toDoList .main .main-wrap .input-task .btn-tab button:hover {
  color: #2564cf;
}
#toDoList .main .main-wrap .task-list {
  margin-top: 2rem;
}
#toDoList .main .main-wrap .task-list .list-item {
  height: 3.5625rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}
#toDoList .main .main-wrap .task-list .list-item:first-child {
  margin-top: 0;
}
#toDoList .main .main-wrap .task-list .list-item.done {
  opacity: 0.5;
}
#toDoList .main .main-wrap .task-list .list-item.done .btn-check i::before {
  content: "\f058";
}
#toDoList .main .main-wrap .task-list .list-item.done .task-name {
  text-decoration: line-through;
}
#toDoList .main .main-wrap .task-list .list-item .task-name {
  font-size: 1rem;
  font-weight: 400;
  color: #414141;
  margin-left: 1.375rem;
}
#toDoList .main .main-wrap .task-list .list-item .btn-wrap {
  margin-left: auto;
}
#toDoList .main .main-wrap .task-list .list-item .btn-wrap button:last-child {
  margin-left: 1.25rem;
}
#toDoList.fold .header,
#toDoList.fold .main {
  padding-left: 7rem;
}
#toDoList.fold .nav {
  width: 7rem;
}

/*
* responsive
*/
@media (max-width: 1299.98px) {
  #toDoList .header,
#toDoList .main {
    padding-left: 0;
  }
  #toDoList .header .header-wrap .btn-menubar,
#toDoList .main .header-wrap .btn-menubar {
    display: block;
  }
  #toDoList .header .header-wrap .btn-menubar i::before,
#toDoList .main .header-wrap .btn-menubar i::before {
    font-size: 1.5rem;
  }
  #toDoList .nav {
    left: -110%;
  }
  #toDoList .nav.open {
    left: 0;
  }
}/*# sourceMappingURL=project.css.map */