@charset "UTF-8";
/*
 import library css
*/
/*
 fonts
*/
@import url("../fonts/portfolio_iconset.css");
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-display: swap;
  src: local("GmarketSansBold"), url("../fonts/woff2/GmarketSansBold.woff2") format("woff2");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-display: swap;
  src: local("GmarketSansMedium"), url("../fonts/woff2/GmarketSansMedium.woff2") format("woff2");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-display: swap;
  src: local("GmarketSansLight"), url("../fonts/woff2/GmarketSansLight.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("../fonts/woff2/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../fonts/woff2/Pretendard-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../fonts/woff2/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../fonts/woff2/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../fonts/woff2/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../fonts/woff2/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../fonts/woff2/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../fonts/woff2/Pretendard-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../fonts/woff2/Pretendard-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 900;
  font-display: swap;
  src: local("Satoshi Black"), url("../fonts/woff2/Satoshi-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 700;
  font-display: swap;
  src: local("Satoshi Bold"), url("../fonts/woff2/Satoshi-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 500;
  font-display: swap;
  src: local("Satoshi Medium"), url("../fonts/woff2/Satoshi-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 300;
  font-display: swap;
  src: local("Satoshi Regular"), url("../fonts/woff2/Satoshi-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 100;
  font-display: swap;
  src: local("Satoshi Light"), url("../fonts/woff2/Satoshi-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 900;
  font-display: swap;
  src: local("Austin Ultra"), url("../fonts/woff2/Austin-Ultra.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 800;
  font-display: swap;
  src: local("Austin Fat"), url("../fonts/woff2/Austin-Fat.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 700;
  font-display: swap;
  src: local("Austin Extrabold"), url("../fonts/woff2/Austin-Extrabold.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 600;
  font-display: swap;
  src: local("Austin Bold"), url("../fonts/woff2/Austin-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 500;
  font-display: swap;
  src: local("Austin Semibold"), url("../fonts/woff2/Austin-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 400;
  font-display: swap;
  src: local("Austin Medium"), url("../fonts/woff2/Austin-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 300;
  font-display: swap;
  src: local("Austin Roman"), url("../fonts/woff2/Austin-Roman.woff2") format("woff2");
}
@font-face {
  font-family: "Austin";
  font-weight: 100;
  font-display: swap;
  src: local("Austin Light"), url("../fonts/woff2/Austin-Light.woff2") format("woff2");
}
/*
==========================================================================
  common  :: reset
==========================================================================
*/
* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-family: "Pretendard", "GmarketSans", "Satoshi", "Austin", AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select,
a {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

dl,
li,
menu,
ol,
ul {
  list-style: none;
}

a,
button,
a:hover,
button:hover,
a:active,
button:active,
a:focus,
button:focus {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: none;
}

a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input[type=text],
input[type=password],
textarea,
select,
button {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
 responsive
*/
#portfolio02 .hide {
  display: none;
}
#portfolio02 .btn {
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  border-radius: 1.875rem;
  background-color: #b1c0a0;
  color: #fff;
  position: relative;
}

/*
* responsive
*/
#portfolio02 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Satoshi";
  background: #d2d3c2;
}
#portfolio02 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #222;
  height: 3.125rem;
  position: fixed;
  width: 100%;
  top: 1rem;
  padding: 0 1rem;
  z-index: 99;
}
#portfolio02 .header > * {
  height: 100%;
  border-radius: 1.875rem;
  background-color: #f5f5eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
#portfolio02 .header .label {
  width: 14.875rem;
  padding: 0 1.75rem;
}
#portfolio02 .header .nav-list-wrap {
  min-width: 23.375rem;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  gap: 0.25rem;
}
#portfolio02 .header .nav-list-wrap .nav-list {
  width: 100%;
  height: 100%;
}
#portfolio02 .header .nav-list-wrap .nav-list a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f5f5eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
#portfolio02 .header .btn-contact {
  font-size: 1.25rem;
  padding: 0 1.5rem;
  background-color: #51733f;
  color: #fff;
}
#portfolio02 .header .btn-contact::before {
  content: "Contact";
  position: absolute;
  z-index: 1;
}
#portfolio02 .header .btn-contact::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #222;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#portfolio02 .header .btn-contact:hover::after {
  height: 100%;
}
#portfolio02 .header .btn-mo-nav-open {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: 100%;
  padding: 0;
  color: #222;
}
#portfolio02 .header .btn-mo-nav-open::before, #portfolio02 .header .btn-mo-nav-open::after {
  content: "";
  display: block;
  width: 1.75rem;
  border: 1px solid #222;
  position: absolute;
  border-radius: 1.875rem;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
#portfolio02 .header .btn-mo-nav-open::before {
  top: 1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#portfolio02 .header .btn-mo-nav-open::after {
  bottom: 1.375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#portfolio02 .header .btn-mo-nav-open.active::before {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: 1.5rem;
}
#portfolio02 .header .btn-mo-nav-open.active::after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  bottom: 1.5rem;
}
#portfolio02 .mo-nav {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: -110%;
  border-radius: 0;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  padding: 8rem 1.5rem 1.75rem;
  background-color: #d2d3c2;
}
#portfolio02 .mo-nav.open {
  top: 0;
  z-index: 1;
}
#portfolio02 .mo-nav .nav-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
#portfolio02 .mo-nav .nav-list {
  font-family: "Austin";
  font-size: 2.625rem;
  font-weight: 300;
}
#portfolio02 .mo-nav .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  bottom: 1.75rem;
  width: calc(100% - 1.5rem - 1.5rem);
}
#portfolio02 .mo-nav .btn-go {
  width: calc(50% - 0.25rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
}
#portfolio02 .mo-nav .btn-go:last-of-type {
  width: 100%;
}
#portfolio02 .mo-nav .btn-go::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  border-top: 1px solid #fff;
  position: absolute;
  top: 1.375rem;
  right: 1.375rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#portfolio02 .mo-nav .btn-go::after {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: relative;
  top: -0.1875rem;
}
#portfolio02 .section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 7.125rem;
  font-family: "Austin";
}
#portfolio02 .sec-main::before {
  content: "";
  display: block;
  width: calc(100% - 32rem);
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: repeating-linear-gradient(90deg, #d2d3c2, #d2d3c2 30px, #ecedde 0, #ecedde 31px);
}
#portfolio02 .sec-main::after {
  content: "";
  display: block;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #d2d3c2;
  z-index: 1;
}
#portfolio02 .sec-main .animaiton-items-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#portfolio02 .sec-main .animaiton-items-wrap .name {
  font-size: 150px;
  font-weight: 300;
  line-height: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}
#portfolio02 .sec-main .animaiton-items-wrap .name .text {
  display: block;
  position: relative;
}
#portfolio02 .sec-main .animaiton-items-wrap .name .text:first-of-type {
  left: -50%;
}
#portfolio02 .sec-main .animaiton-items-wrap .name .text:last-of-type {
  left: 50%;
}
#portfolio02 .shape-ball {
  width: 38.125rem;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  z-index: 1;
}
#portfolio02 .shape {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  background-color: #f5f5eb;
}
#portfolio02 .halfmoon {
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 4.375rem;
  font-weight: 500;
  line-height: 1.6;
}
#portfolio02 .halfmoon .text .underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #51733f;
          text-decoration-color: #51733f;
  text-underline-offset: 10px;
}
#portfolio02 .sec-about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#portfolio02 .sec-about .animaiton-items-wrap {
  background-color: #ecedde;
  padding: 50% 9.125rem;
}
#portfolio02 .sec-about .greet {
  font-size: 6.25rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
#portfolio02 .sec-about .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}
#portfolio02 .sec-about .nickname {
  font-size: 2.5rem;
  font-weight: 300;
  color: #51733f;
  border: 1px solid #51733f;
  border-radius: 1.875rem;
  padding: 0.25rem 1rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 3.625rem;
}
#portfolio02 .sec-about .text-introduce {
  width: 50%;
  font-family: "Satoshi";
  font-size: 1.375rem;
  line-height: 1.3;
  padding-right: 6.25rem;
}
#portfolio02 .sec-about .circle-text-line {
  border-radius: 50%;
  background-color: #b1c0a0;
  position: absolute;
}

/*
* responsive
*/
@media (max-width: 767.98px) {
  #portfolio02 .header {
    gap: 0;
  }
  #portfolio02 .header .label {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
    padding: 0;
  }
  #portfolio02 .header .nav-list-wrap {
    display: none;
  }
  #portfolio02 .header .btn-contact {
    margin-left: auto;
    padding: 0 1rem;
  }
  #portfolio02 .header .btn-mo-nav-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #portfolio02 .mo-nav {
    display: block;
  }
  #portfolio02 .section {
    padding: 0 1rem;
  }
}/*# sourceMappingURL=style_portfolio02.css.map */