<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/map copy.css">
  <link rel="stylesheet" href="../../assets/css/reset.css">
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../css/prism.css">
  <title>style guide</title>
</head>
<body>
  <div class="style-guide-wrap">
    <div class="guide-header">COMMON-STYLE</div>
    <!-- sidenav :: s -->
    <nav class="nav flex-column">
      <a class="nav-link active" href="#cont1">Form</a>
      <a class="nav-link" href="#cont2">Table</a>
      <a class="nav-link" href="#cont3">Pagination</a>
    </nav>
    <!-- sidenav :: e -->

    <div class="cont-wrap">
      <div class="container-fluid">
        <div class="guide-cont">

          <!-- Form :: s -->
          <div id="cont1" class="guide-inner-wrap">
            <h2 class="guide-title">Form</h2>
            <div class="code-box">
              <h3>checkbox</h3>
              <label class="checkbox">
                <input type="checkbox" name="checkbox" checked/>
                <span class="label-checkbox">text1</span>
              </label>
            </div>
<pre><code class="language-markup"><!--
  <label class="checkbox">
    <input type="checkbox" name="checkbox" checked/>
    <span class="label-checkbox">text1</span>
  </label>
  --></code></pre>

            <div class="code-box">
              <h3>radio button</h3>
              <label class="radio-button">
                <input type="radio" name="radio" checked />
                <span class="label-radio"></span>
                text1
              </label>
              <label class="radio-button">
                <input type="radio" name="radio" />
                <span class="label-radio"></span>
                text2
              </label>
            </div>
<pre><code class="language-markup"><!--
  <label class="radio-button">
    <input type="radio" name="radio" checked />
    <span class="label-radio">text1</span>
  </label>
  <label class="radio-button">
    <input type="radio" name="radio" />
    <span class="label-radio">text2</span>
  </label>
  --></code></pre>

            <div class="code-box">
              <h3>switch button</h3>
              <label class="switch-button">
                <input type="checkbox" />
                <span class="label-switch"></span>
              </label>
            </div>
<pre><code class="language-markup"><!--
  <label class="switch-button">
    <input type="checkbox" />
    <span class="label-switch"></span>
  </label>
  --></code></pre>
          </div>
          <!-- Form :: e -->

          <!-- Table :: s -->
          <div id="cont2" class="guide-inner-wrap">
            <h2 class="guide-title">Table</h2>
            <div class="code-box">
              <h3>Table</h3>
              <table class="table caption-top">
                <caption></caption>
                <thead class="table-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Last</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
            </div>
<pre><code class="language-markup"><!--
  <h1 class="banana-title">Button</h1>
  --></code></pre>
          </div>
          <!-- Table :: e -->

          <!-- Pagination :: s -->
          <div id="cont3" class="guide-inner-wrap">
            <h2 class="guide-title">Pagination</h2>
            <div class="code-box">
              <div class="pagination-wrap">
                <button type="button" class="btn-prev"></button>
                <button type="button" class="active">1</button>
                <button type="button">2</button>
                <button type="button">3</button>
                <button type="button">4</button>
                <button type="button">5</button>
                <button type="button" class="btn-next"></button>
              </div>
            </div>
<pre><code class="language-markup"><!--
<h1 class="banana-title">Button</h1>
--></code></pre>
          </div>
          <!-- Pagination :: e -->

        </div>
      </div>
    </div>
  </div>

  <!-- import script -->
  <script src="../../assets/libs/jquery/jquery-3.6.3.min.js"></script>
  <script src="../../assets/libs/bootstrap/popper.min.js"></script>
  <script src="../../assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../js/prism.js"></script>
  <script>
    // nav 클릭하면 이동
    // document.querySelectorAll('.nav .nav-link').forEach((el) => {
    //   el.addEventListener('click', (e) => {
    //     e.preventDefault();
    //     document.querySelector(el.getAttribute('href')).scrollIntoView({
    //       behavior: 'smooth',
    //     });
    //   });
    // });

    // function scrollProgress() {
    //   const scrollTop = window.pageYOffset || window.scrollY || document.documentElement.scrollTop;

    //   document.querySelectorAll('.guide-inner-wrap').forEach((el, index) => {
    //     if (scrollTop >= el.offsetTop - 100) {
    //       document.querySelectorAll('.nav .nav-link').forEach((el) => {
    //         el.classList.remove('active');
    //       });
    //       document.querySelector('.nav .nav-link:nth-child(' + (index + 1) + ')').classList.add('active');
    //     }
    //   });
    // }
    // window.addEventListener('scroll', scrollProgress);
  </script>
</body>
</html>